.menu {
    margin: 0px;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#ff3939;
}
.menu li {
    display: inline-block;
    margin-left: 140px;
    margin-right: 100px;
    
}
.menu_button:hover {
    color: sandybrown;
}
a:link {
    text-decoration: none;
    color: #691c1f;
}
